<!-- ia-translate: true -->
<div id="sidenav">
  <form action="/search/" class="site-header__search form-inline">
    <input class="site-header__searchfield form-control search-field" type="search" name="q"
           id="search-side" autocomplete="off" placeholder="Pesquisar" aria-label="Pesquisar">
  </form>

  <ul class="navbar-nav">
    <li aria-hidden="true"><div class="sidenav-divider"></div></li>
    <li class="nav-item">
      <a href="/overview" class="nav-link">Visão Geral</a>
    </li>
    <li class="nav-item">
      <a href="/community" class="nav-link">Comunidade</a>
    </li>
    <li class="nav-item">
      <a href="https://dartpad.dev" class="nav-link">Experimente Dart</a>
    </li>
    <li class="nav-item">
      <a href="/get-dart" class="nav-link">Obtenha Dart</a>
    </li>
    <li class="nav-item">
      <a href="/docs" class="nav-link">Documentação</a>
    </li>
    <li aria-hidden="true"><div class="sidenav-divider"></div></li>
  </ul>

  {% render 'sidenav-level-1.html', url:page.url, nav:sidenav, activeNav:activeNav %}
</div>
