<!-- ia-translate: true -->
<footer id="page-footer">
  <div class="footer-section footer-main">
    <a href="/" class="brand" title="Dart">
      <img src="/assets/img/logo/logo-white-text.svg" alt="Dart" width="164">
    </a>
    <div class="footer-social-links">
      <a href="https://medium.com/dartlang" target="_blank" rel="noopener" title="Blog no Medium">
        <svg>
          <use href="/assets/img/social/medium.svg#medium"></use>
        </svg>
      </a>
      <a href="https://github.com/dart-lang" target="_blank" rel="noopener" title="GitHub">
        <svg>
          <use href="/assets/img/social/github.svg#github"></use>
        </svg>
      </a>
      <a href="https://twitter.com/dart_lang" target="_blank" rel="noopener" title="X (Twitter)">
        <svg>
          <use href="/assets/img/social/x.svg#x"></use>
        </svg>
      </a>
    </div>
  </div>
  <div class="footer-section footer-tray">
    <div class="footer-licenses">
      Exceto quando indicado de outra forma, este site está licenciado sob uma
      <a href="https://creativecommons.org/licenses/by/4.0/">Licença Internacional Creative Commons Atribuição 4.0</a>,
      e exemplos de código estão licenciados sob a
      <a href="https://opensource.org/licenses/BSD-3-Clause">Licença BSD de 3 Cláusulas</a>.
    </div>
    <div class="footer-utility-links">
      <ul>
        <li><a href="/terms" title="Termos de uso">Termos</a></li>
        <li><a href="https://policies.google.com/privacy" target="_blank" rel="noopener" title="Política de privacidade">Privacidade</a></li>
        <li><a href="/security" title="Filosofia e práticas de segurança">Segurança</a></li>
      </ul>
    </div>
  </div>  
</footer>
