<!-- ia-translate: true -->
{% assign repo = repo | default: site.repo.this -%}
{% capture pageSource -%} {{repo}}/tree/{{site.branch}}/{{page.inputPath | replace: './', ''}} {%- endcapture -%}
{% assign siteTitle = title | default: page.url | escape -%}
{% assign url = site.url | append: page.url -%}

<p id="page-github-links">
  <span>Salvo indicação em contrário, a documentação neste site reflete o Dart {{site.sdkVersion}}. Página atualizada pela última vez em {{page.date | toSimpleDate}}.</span>
  <a href="{{pageSource}}" target="_blank" rel="noopener">Ver código fonte</a>
  <span> ou </span>
  <a href="{{repo}}/issues/new?template=1_page_issue.yml&page-url={{url}}&page-source={{pageSource}}" title="Reportar um problema com esta página" target="_blank" rel="noopener">reportar um problema</a>.
</p>
